header {
  position: sticky;
  z-index: 9999;
  top: 0;
}

.header {
  background-color: #030303;
  height: 100px;
  color: #F2EED8;
}
.header__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
}
.header__img {
  width: 110px;
  height: auto;
}
.header__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.header__ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}
.header__li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.header__a {
  text-decoration: none;
  color: #F2EED8;
  font-family: "Syne", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.header__search {
  border-radius: 10px;
  border: 1px solid #F2EED8;
  background-color: #A69485;
  padding: 10px;
  width: 250px;
  height: 25px;
  color: #030303;
}
.header__search::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.header__contador {
  background-color: rgb(96, 105, 11);
  padding: 10px;
  width: 40px;
  height: 25px;
  color: #DBB27F;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-align: center;
  border-radius: 3px;
  border-radius: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.header__contador:hover {
  background-color: rgb(47, 51, 8);
  transition: 0.2s ease-out;
  cursor: pointer;
}

.header__a:hover {
  color: #A1743D;
  transition: 0.5s ease;
}

.welcome {
  background-image: url(../assets/img/fondo-welocome1.jpg);
  background-size: cover;
  min-height: 500px;
}

.welcome__container {
  backdrop-filter: blur(4.4px);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  min-height: 550px;
}

.welcome__text {
  width: 400px;
  height: 400px;
  border-radius: 20px;
  border: 0.5px, solid, #DBB27F;
  background-color: rgba(3, 3, 3, 0.8);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
  text-align: center;
}
.welcome__text h1 {
  font-family: "Syne", sans-serif;
  font-weight: 400;
  font-size: 38px;
  color: #F2EED8;
}
.welcome__text h2 {
  font-family: "Syne", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #F2EED8;
}
.welcome__text p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #DBB27F;
}

.welcome__img {
  width: 400px;
  height: 400px;
  padding: 10px;
  border-radius: 20px;
  border: 0.5px, solid, #A1743D;
  background-image: url(../assets/img/hero__img.jpg);
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.productos {
  min-height: 200vh;
  background-color: #030303;
  text-align: center;
}
.productos__hero {
  background-image: url("../assets/img/los-mejores-granos-de-cafe.jpg");
  background-size: cover;
}
.productos__hero--text {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  backdrop-filter: blur(4px);
  min-height: 300px;
}
.productos__h2 {
  color: rgb(255, 255, 255);
  font-family: "Syne", sans-serif;
  font-weight: 700;
  font-size: 60px;
}
.productos__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 150vh;
}
.productos__card {
  width: 300px;
  height: 400px;
  border-radius: 30px;
  background-color: rgba(166, 148, 133, 0.1);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 7px;
  text-align: center;
  border: 0.5px, solid, #DBB27F;
  perspective: 1000px;
}
.productos__img {
  width: 100px;
}
.productos__h3 {
  font-family: "Syne", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #F2EED8;
}
.productos__p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #F2EED8;
}
.productos__boton--agregar {
  width: 175px;
  height: 25px;
  background-color: rgb(96, 105, 11);
  color: #F2EED8;
  text-align: center;
  border: none;
  border-radius: 20px;
}
.productos__boton--info {
  width: 175px;
  height: 25px;
  background-color: rgb(226, 196, 28);
  color: #030303;
  text-align: center;
  border: none;
  border-radius: 20px;
}
.productos__boton--info:hover {
  background-color: rgb(122, 107, 18);
  transition: 0.2s ease-in;
  cursor: pointer;
}
.productos__boton--agregar:hover {
  background-color: rgb(25, 63, 3);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.productos__precio {
  color: rgb(233, 213, 190);
  font-weight: 600;
}

.productos__card--rotacion {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.productos__card--front,
.productos__card--back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.productos__card--back {
  transform: rotateY(180deg);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #F2EED8;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.productos__card--rotacion.girar {
  transform: rotateY(180deg);
}

.productos__card--front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 9px;
  text-align: center;
}

.mensajeError {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mensajeError__h3 {
  font-family: "Syne", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #F2EED8;
}
.mensajeError__p {
  font-family: "Syne", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #F2EED8;
}

.footer {
  min-height: 50vh;
  background-color: #010D00;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.footer__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 200px;
}
.footer__img {
  width: 200px;
}
.footer__ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
.footer__a {
  text-decoration: none;
  color: #F2EED8;
  font-family: "Syne", sans-serif;
  font-weight: 400;
  font-size: 19px;
}

.footer__a:hover {
  color: #A1743D;
  transition: 0.5s ease;
}

.carrito {
  min-height: 200vh;
  background-color: #030303;
  text-align: center;
}
.carrito__hero {
  background-image: url("../assets/img/Fondo titulo productos.jpg");
  background-size: cover;
}
.carrito__hero--text {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  backdrop-filter: blur(4px);
  min-height: 300px;
}
.carrito__h2 {
  color: rgb(255, 255, 255);
  font-family: "Syne", sans-serif;
  font-weight: 700;
  font-size: 70px;
}
.carrito__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 150vh;
}
.carrito__boton--eliminar {
  width: 175px;
  height: 25px;
  background-color: rgb(121, 38, 23);
  color: #F2EED8;
  text-align: center;
  border: none;
  border-radius: 20px;
}
.carrito__boton--eliminar:hover {
  background-color: rgb(78, 23, 13);
  transition: 0.2s ease-in;
  cursor: pointer;
}
.carrito__modificar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.carrito__modificar--sumar {
  width: 30px;
  height: 25px;
  border-radius: 5px;
  border: none;
  background-color: rgb(96, 105, 11);
  color: #F2EED8;
}
.carrito__modificar--span {
  color: #A1743D;
}
.carrito__modificar--restar {
  width: 30px;
  height: 25px;
  background-color: rgb(121, 38, 23);
  color: #F2EED8;
  border-radius: 5px;
  border: none;
}
.carrito__modificar--restar:hover {
  background-color: rgb(78, 23, 13);
  transition: 0.2s ease-in;
  cursor: pointer;
}
.carrito__modificar--sumar:hover {
  background-color: rgb(25, 63, 3);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.pagar {
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 10;
  pointer-events: none;
}
.pagar__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  width: 280px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(3, 3, 3, 0.8);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(20px);
  transition: all 0.3s ease;
}
.pagar__container.mostrar {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}
.pagar__subtotal {
  color: #F2EED8;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}
.pagar__vaciar {
  border: none;
  background-color: rgb(121, 38, 23);
  width: 100px;
  height: 30px;
  border-radius: 10px;
  color: #F2EED8;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 13px;
}
.pagar__vaciar:hover {
  background-color: rgb(78, 23, 13);
  transition: 0.2s ease-in;
  cursor: pointer;
}
.pagar__completado {
  border: none;
  background-color: rgb(96, 105, 11);
  width: 100px;
  height: 30px;
  border-radius: 10px;
  color: #F2EED8;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 13px;
}
.pagar__completado:hover {
  background-color: rgb(47, 51, 8);
  transition: 0.2s ease-out;
  cursor: pointer;
}
.pagar__botones {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}
.pagar__ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  list-style-type: none;
  gap: 8px;
}

* {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
